.carousel .item img {
  max-height: 420px;
  min-width: auto;
}

.carousel-caption {
    position: absolute;
    right: 45%;
    top: 18%;
    bottom: 1.25rem;
    left: 10%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
}
