---
layout: default
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <div class="container">
  <div class="row">
 
  <article style="">

   <div itemscope="" itemtype="">
      <div class="author__content">
         <h1 class="author__name" style="font-size: 3em; color: black;">Derin Mavi</h1>
      </div>
    <div class="page__inner-wrap">
      
      <table style="border: 0px; margin-bottom:0px;">
  <tbody>   
  <tr><td style="border: 0px;">
  <a style=" text-decoration: none; color: inherit;letter-spacing: 0.1rem;" href="https://derinmavi.io/">Gezegendeki olası hayatlardan ☁️ birinin bir tarifnamesi...</a>
  </td></tr>
  </tbody>
</table>

      <section class="page__content" itemprop="text">
        
 <section>
          {{ content }}

<div style="margin-top:30px; margin-bottom:30px;">
<table style="border: 0px; margin-bottom:0px;">
  <tbody>   
  <tr><td style="border: 0px; border-top: 1px solid #f0f0f0;"><a style=" text-decoration: none; color: inherit;letter-spacing: 0.1rem;" href="https://derinmavi.io/yeraltindan-notlar">2020-01-01 Yeraltından Notlar</a></td></tr>
  </tbody>
</table>

<table style="border: 0px; margin-bottom:0px; ">
  <tbody>
  <tr><td style="border: 0px; border-top: 1px solid #f0f0f0;"><a style=" text-decoration: none; color: inherit;letter-spacing: 0.1rem;" href="https://derinmavi.io/onaltinci-bienal-izlenimleri">2019-10-27 Onaltıncı Bienal İzlenimleri</a></td></tr>
  </tbody>
</table>

<table style="border: 0px; margin-bottom:0px;">
  <tbody>
  <tr><td style="border: 0px; border-top: 1px solid #f0f0f0;  border-bottom: 1px solid #f0f0f0;"><a style=" text-decoration: none; color: inherit;letter-spacing: 0.1rem;" href="https://derinmavi.io/izlence
">2021-06-03 İzlence: Filmler, Diziler ve Belgeseller</a></td></tr>
  </tbody>
</table>

<table style="border: 0px; margin-bottom:0px;">
  <tbody>
  <tr><td style="border: 0px; border-top: 1px solid #f0f0f0;"><a style=" text-decoration: none; color: inherit;letter-spacing: 0.1rem;" href="https://derinmavi.io/kriptoparalar-ve-blockchain
">2021-03-25 Kriptoparalar ve Blockchain Algoritması</a></td></tr>
  </tbody>
</table>


<table style="border: 0px; margin-bottom:0px;">
  <tbody>
  <tr><td style="border: 0px; border-top: 1px solid #f0f0f0;  border-bottom: 1px solid #f0f0f0;"><a style=" text-decoration: none; color: inherit;letter-spacing: 0.1rem;" href="https://derinmavi.io/yazarlar-ve-kitaplari
">2021-06-03 Yazarlar ve Kitapları</a></td></tr>
  </tbody>
</table>

</div>

<table style="border: 0px; margin-bottom:0px;">
  <tbody>
  <tr><td style="border: 0px;">
  <a style=" text-decoration: none; color: inherit;letter-spacing: 0.1rem;" href="https://derinmavi.io/derin-mavi">Derin Mavi Nedir?</a><br/>
  <a style=" text-decoration: none; color: inherit;letter-spacing: 0.1rem;" href="https://derinmavi.io/posts">Arşiv</a>
  </td></tr>
  </tbody>
</table>
        
      </section>
    </div>
    </div>
</article>
  </div>
  </div>
</div>
